@import 'colors'

$background: $white

$primary-dark: $red-dark
$primary: $red
$primary-light: $red-light
$primary-text: $white

$secondary-dark: $blue-dark
$secondary: $blue
$secondary-light: $blue-light
$secondary-text: $white


