

@import 'theme'

h1,h2,h3,h4,h5
	font-family: 'Raleway', sans-serif
	font-weight:: 700
h1
	font-size: 35px
h2
	font-size: 30px
h3
	font-size: 25px
h4
	font-size: 20px
h5
	font-size: 15px

// fonts
div,p,a,span,small,strong,input,button
	font-family: 'Roboto', sans-serif 

// font weight
div,p,a,span,small,input,button
	font-weight: 400

// font sizing 
div,p,a,span,strong,input,button
	font-size: 13px

.fixed
	position: fixed
.absolute
	position: absolute
//widths
.w100
	width: 100%
.w75
	width: 75%
.w50
	width: 50%
.w25
	width: 25%

ui.input
	font-size: 13px
	font: inherit
  color: currentColor
  width: 100%
  border: 0
  margin: 0
  padding: 6px 0 7px
  display: block
  min-width: 0
  box-sizing: content-box
  background: none
  -webkit-tap-highlight-color: transparent

body,#VPL_APP_ROOT
  width: 100%
  height: 100%

p,h1,h2,h3,h4,h5,a,div,small,strong,section
	&.center
		text-align: center
	&.justify
		text-align: justify
	&.left
		text-align: left
	&.right
		text-align: right

.fas
	font-size: 24px

.ui.form .field>label
		font-size: 11px 
		font-weight: 500 

.ui.card, 
.ui.cards>.card, 
	-webkit-box-shadow: 0px 0px 0px 0px
	-o-box-shadow: 0px 0px 0px 0px
	-moz-box-shadow: 0px 0px 0px 0px
	box-shadow: 0px 0px 0px 0px
	border-radius: 0px
.ui.card.shadow
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)