//import the theme
@import 'red'

.bg
	background-color: $background !important

button
	background-color: $primary !important
	color: $primary-text !important
	&:disabled
		background-color: $primary-light !important
		color: $primary-text !important
	&.action 
		background-color: $secondary !important
		color: $secondary-text !important
		&:disabled
			background-color: $secondary-light !important
			color: $secondary-text !important
		